<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>    
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia assumenda optio iste iusto facere est eum, sequi tenetur sit corrupti earum porro temporibus eos nulla, dolorem nobis deleniti minima placeat cupiditate saepe officia ad itaque. Cum facere et commodi quisquam blanditiis ipsam eos ea consectetur voluptatem accusamus velit totam praesentium maiores numquam maxime ipsa optio molestias neque, iusto debitis voluptate deserunt doloremque magni. Quidem sapiente corrupti, quae deleniti accusamus alias laborum amet enim molestias repellat iste quas possimus nam! Mollitia nemo assumenda iusto cum, illum, itaque deleniti beatae perferendis asperiores alias fuga saepe est nulla, voluptates optio quam dolorum dicta necessitatibus quia aliquid aspernatur illo distinctio quae. Quaerat impedit soluta dolorum fuga perferendis quae! Nisi voluptatem tempore saepe fugiat, doloribus ratione quis autem nemo officiis deserunt? Neque quaerat ipsa illo, ex temporibus nobis obcaecati consequuntur dolorem placeat, eveniet mollitia sit iste doloribus? Eos tempore tenetur numquam voluptatem officia facere fuga, voluptatibus delectus saepe velit reiciendis impedit eligendi sint, repellat, veniam dolorem maiores molestiae praesentium provident unde inventore doloribus? Est a aperiam amet error delectus pariatur ea accusantium dolores eaque natus quasi, provident neque quas accusamus, enim iure. Voluptatum aperiam, mollitia quibusdam et, laborum, animi omnis tenetur nesciunt facere vitae delectus.</p>
        </section>
    </main>
</body>
</html>